@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgba(255, 246, 246, 0.253), rgba(65, 19, 19, 0.548) ) ,url('../img/esimene.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
    background-color: #98663e85; 
    border: 2px solid #98663e;
    color: #ddd3cae8;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.8s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #8a460eb7;
    color: #ebccb2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url('../img/teine.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    clip-path: polygon(50% 6%, 100% 0, 100% 94%, 100% 100%, 52% 100%, 0 100%, 0 100%, 0% 43%, 0 0);
}

.packaging-image__text a {
    background-color: #5e210eb9; 
    border: 2px solid #5e210eb9;
    color: #ddd3cae8;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.8s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    background-color: #501f11;
    color: #caa282;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0 15rem;
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    height: 400px;
    background-image: linear-gradient(to bottom right, rgba(255, 246, 246, 0.253), rgba(65, 19, 19, 0.548) ) ,url('../img/kolmas.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a{
    background-color: #925059a2; 
    border: 2px solid #8b3a45;
    color: #f5b399;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.8s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);
}

.footer {
    background-color: #925059f8;
    color: rgb(221, 181, 181);
    font-size: 2rem;
    height: 200px;
    padding: 2rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: rgb(216, 157, 157);
    text-decoration: none;
}

.footer ul li:hover, .footer ul li a:hover {
    color: rgb(206, 129, 129);
}